@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
$font-family: 'Poppins';
$font-family2: 'Roboto Condensed', sans-serif;

$semi:#fff01f;
$main: rgb(0, 209, 192) ;
$text: rgb(0, 107, 80);
$box-shadow: 3px 3px 3px rgba(0, 0, 0, .6);
$border: 1.5px solid;
$disabled: #596275;