@import '../../../variables.scss';

section{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1.5fr 8.5fr;
    header{
        position: relative;
        font-family: 'Poppins';
        width: 100%;
        color: $semi;
        background: $main;
        box-shadow: 0 0 .9em .4em rgba(0, 0, 0, .4);
    }
    main{
        position: relative;
        width: 100%;
    }
}                                                     